$base-color: rgba(100,200,200,1);

body, html{
    padding:0px;
    margin:0px;
    height:100%;
}

.my-navbar{
    background: $base-color;
    width:100%;
    position:fixed;
    padding:0 5%;
    margin-bottom:50px;
    section{
        .brand{
            margin:25px;
            float:left;
            font-weight: bold;
        }

        .menu-navbar{
            text-align:right;
            padding:0px;
            margin:0px;
            list-style: none;
            li{

                color:#fff;
                cursor:pointer;
                margin-left:-4px;
                padding:25px;
                display:inline-block;
                &:hover{
                    background:rgb(100,200,255);
                    transition:.9s;
                }
            }
        }
    }
}

.my-slide{
    height:400px;
    width:100%;
    background:#ccc;
    display:flex;
    align-items:center;
    text-align:center;
    justify-content: center;
    h1{

    }
}

.content{
    height:400px;
    width:100%;
    background:#eee;
    display:flex;
    align-items:center;
    text-align:center;
    justify-content: center;
}


.footer{
    height: 90px;
    background: green;
    display: flex;
    align-items: center;

    .footer-body{
        box-sizing: border-box;
        color: wheat;
        padding: 10px;
        .footer-text-left{
            margin: 0;
        }
    }
}